.pokemon__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;

    .pokemon__display{
        flex-basis: 15%;
        text-align: center;
        padding: 2rem;
        border-radius: 15px;
        background-color: #eeeeee;
        box-shadow: 0 4px 4px rgba(29,28,27,0.1);
    }
}
